@charset "UTF-8";

div, footer { display: block; }


.jw_div_footer_2{
	background-color: #ffffff !important;
    border-top: 1px solid #DBDBDB !important;
    color: #484848 !important;
    padding: 48 0 !important;
}
.jw_div_footer_3{
	margin : 0 auto;
    padding-left: 24px !important;
    padding-right: 24px !important;
    max-width: 1080px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
.jw_div_footer_4{
	font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.jw_div_footer_5{
	margin-left: -8px !important;
    margin-right: -8px !important;
}
.jw_div_footer_5:before {
    content: " " !important;
    display: table !important;
} 
.jw_div_footer_5:after {
    content: " " !important;
    display: table !important;
    clear: both !important;
}

.jw_div_contain_1{
	padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    
    width: 25% !important;
    float: left !important;
}
.jw_div_contain_1_2{
	padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 50% !important;
    float: left !important;
}
.jw_div_contain_1_3{
	display: block !important;
    width: 100% !important;
}
.jw_div_contain_1_4{
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    color: #484848 !important;
    position: relative !important;
    display: block !important;
    background: #ffffff !important;
    border: 1px solid #DBDBDB !important;
    border-radius: 2px !important;
    margin-bottom: 8px !important;
    width: 100% !important;
}
.jw_div_contain_1_5{
	overflow: hidden !important;
}
.jw_selector_1{
	-webkit-appearance: none !important;
    -moz-appearance: none !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    color: #484848 !important;
    font-weight: 300 !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 11px !important;
    padding-right: 40px !important;
    height: 46px !important;
    display: block !important;
    width: 100% !important;
}
.jw_select_arow{
	position: absolute !important;
    top: 16px !important;
    right: 16px !important;
    line-height: 0 !important;
    pointer-events: none !important;
}
.jw_div_contain_2{
	padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    
    width: 16.666666666666664% !important;
    float: left !important;
    margin-left: 8.333333333333332% !important;
}
.jw_topbrp_1{
	color: inherit !important;
    font-size: 1em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
}
.jw_footer_title_1{
	font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.jw_footer_ul_1{
	list-style: none !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.jw_footer_li_1{
	margin-bottom: 4px !important;
}
.jw_footer_hr{
	border-bottom: 1px solid #DBDBDB !important;
}
.jw_footer_6{
	padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 50% !important;
    float: left !important;
}
.jw_footer_6_1{
	padding-top: 1px !important;
    white-space: nowrap !important;
}
.jw_footer_bar{
	display: table !important;
}
.jw_footer_bar_1{
	display: table-cell !important;
    vertical-align: middle !important;
}
.jw_footer_bar_2{
	font-weight: normal !important;
    color: #767676 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.jw_footer_7{
	padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 50% !important;
    float: left !important;
}
.jw_footer_ul_2{
	padding-left: 0px !important;
    list-style: none !important;
    margin-bottom: 0px !important;
    margin-left: -8px !important;
    margin-right: -8px !important;
    vertical-align: middle !important;
    text-align: right !important;
}
.jw_footer_li_2{
	margin-bottom: 4px !important;
    display: inline !important;
    padding-left: 8px !important;
    vertical-align: middle !important;
}
.jw_footer_li_3{
	white-space: nowrap !important;
    display: inline !important;
    vertical-align: middle !important;
}
.jw_footer_icon{
	display: inline-block !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    vertical-align: middle !important;
}
.jw_footer_icon_1{
	cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    border: 0px !important;
    display: block !important;
}